@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%; 
    margin-bottom: 40px;   
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    width: 40%;
    
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 33px;
    color: var(--color-dark);
    /* background: linear-gradient(90deg, rgba(255, 255, 255 ,1) 70%, rgba(255, 255, 255, 0) 120%); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;*/
}

.description {
    font-size: 21px;
    font-weight: lighter;
    margin-bottom: 52px;
    color: var(--color-accent);
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-sky);
    color: var(--color-bg);
    border-radius: 1.2rem;
    font-size: 21px;
    font-weight: 300;
    padding: 15px 26px;
    box-shadow: 6px 6px 2px 2px var(--color-accent);
    cursor: pointer;
    transition: all 0.2s;
}

.imageContainer{
    /* height: 600px;
    width: 400px; */
    height: 49vw;
    width: 29vw;
    position: relative;
    overflow: hidden;
    border-radius: 3%;
}

.heroImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    /* width: 35%; */
    z-index: -2;
    border-radius: 3%;
    transition: opacity 1s ease-in-out !important; /* Transición suave en opacidad */
    /* box-shadow: 5px 5px 15px 0px rgba(212,228,244,1); */

    /* animation-name: change;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
}

.heroImg.visible {
    opacity: 1 !important;
    z-index: 3 !important;
}

/* @keyframes change {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotar {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}


@keyframes scale {
    0% {
        width: 35%;
    }

    25% {
        width: 37%;
    }

    50% {
        width: 40%;
    }

    75% {
        width: 37%;
    }

    100% {
        width: 35%;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
} */

.circulofondo {
    position: absolute;
    width: 40vw;
    height: 40vw;
    min-width: 250px;
    top: 20px;
    right: -6vw;
    border-radius: 764px;
    background: var(--color-accent);
    background: linear-gradient(180deg, var(--color-lightblue) 15%, var(--color-sky) 45%, var(--color-accent) 70%, var(--color-dark) 100%);
    box-shadow: 5px 5px 15px 0px rgba(212,228,244,1);
    overflow: hidden;
    /* filter: blur(100px); */
    z-index: -10 !important;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .content {
        align-items: center;
        text-align: center;
        padding-top: 25px;
        width: 100%;
    }
    .imageContainer{
        height: 100vw;
        width: 80vw;
    }
    /* .heroImg {
        width: 90%;
    } */

    .circulofondo{
        width: 120vw;
        height: 120vw;
        right: -35vw;
        top: -25vw;
    }
}