@import "../../vars.css";

.container{
    position: relative;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7vw;
    padding-bottom: 7vw;
    background: linear-gradient(180deg, var(--color-bg) 20%, var(--color-lightblue) 100%);
}

.title{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
    letter-spacing: 0.05em;
    color: var(--color-dark);
    text-align: left;
    text-shadow: 2px 2px 0px rgba(212,228,244,1);
}