.container{
    position: relative;
}

.mapa{
    display: flex;
    width: 100%;
}

.marca{
    display: flex;
    flex-direction: row;
    height: 70px;
    background: var(--color-mediumblue);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.marca p{
    color: var(--color-bg);
    font-size: 16px;
    letter-spacing: 0.05em;
}